<footer class="footer">
  <a class="header__logo" href="#" >
    <img alt="Логотип магазина" width="100" height="54">
  </a>
  <ul class="footer__list">
    <li class="footer__item">Пункты меню подвала</li>
  </ul>
</footer>
