<header class="header page__centetrer">
  <nav class="navigation">
    <button class="navigation__button" type="button">
        <span class="page__hidden">Открыть меню.</span>
    </button>
    <ul class="navigation__list">
        <li class="navigation__item">Пункты меню</li>
    </ul>
  </nav>
  <button class="header__search" type="button">
  </button>
  <a class="header__logo" href="#" >
      <img alt="Логотип магазина" width="96" height="52">
  </a>
  <button class="header__like" type="button">
  </button>
  <button class="header__basket" type="button">
  </button>
</header>
