<header class="header page__centetrer">
  <nav class="navigation header__menu">
    <button class="navigation__button" type="button">
        <span class="page__hidden">Открыть меню.</span>
    </button>
    <ul class="navigation__list">
      {% for item in mainmenu %}
        <li class="navigation__item">{{item}}</li>
      {% endfor %}
    </ul>
  </nav>
  <button class="header__search" type="button">
  </button>
  <a class="header__logo" href="#" >
      <img src="../img/logo.png" alt="Логотип магазина" width="96" height="52">
  </a>
  <button class="header__like" type="button">
  </button>
  <button class="header__basket" type="button">
  </button>
</header>
