<article class="help-call">
  <div class="page__centerer">
    <p class="help-call__title page__title-text">Не можете определиться с выбором?</p>
    <p class="help-call__text">Закажите бесплатную консультацию с нашим книжным сомелье</p>
    <form class="help-call__form form-help " action="#" method="post">

      <label class="page__hidden" for="name">Ваше имя.</label>
      <input class="form-help__input" type="text" id="name" placeholder="Ваше имя" required>

      <label class="page__hidden" for="phone">Ваше имя.</label>
      <input class="form-help__input" type="tel" id="phone" placeholder="Ваш номер" required>

      <button class="form-help__button" type="submit">Оставить заявку</button>

    </form>
  </div>
</article>
