<!DOCTYPE html>
<html class="page" lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Интернет магазин книг Bookville">
  <meta name="keywords" content="Книги, покупки, чтение, отдых, книжный сомелье">
  <link rel="stylesheet" href="./styles/style.css">
  <title>{{ title }}</title>
</head>

<body class="page__body">

  {% include "header.twig" %}

  <main class="main">
    {% block page %}{% endblock %}
  </main>

  {% include "footer.twig" %}

<script>
  let nav = document.querySelector(".navigation");
let navButton = document.querySelector(".navigation__button");

navButton.onclick = function () {
  if (nav.classList.contains("navigation--closed")) {
    nav.classList.remove("navigation--closed");
    nav.classList.add("navigation--opened");
  } else {
    nav.classList.add("navigation--closed");
    nav.classList.remove("navigation--opened");
  }
}
</script>

</body>
</html>
