:root {
  --accent-color: #887569;
  --title-color: #373737;
  --menu-text-color: #1b1b1b;
  --background-color: #f8f8f8;
  --background-card-color: #faf8f6;
  --background-call-color: #e9e5e0;
  --icons-color: #675b56;
  --light-text-color: #999999;
}

