:root {
  --header-boottom-line: #cdcdcd;

  --accent-color: #887569;
  --title-color: #373737;
  --menu-text-color: #1b1b1b;
  --background-color: #f8f8f8;
  --background-card-color: #faf8f6;
  --background-call-color: #e9e5e0;
  --icons-color: #675b56;
  --light-text-color: #999999;
  --form-input-color: #9c9c9c;

  --footer-back-color: #f5f5f5;
  --footer-link-color: #4f4f4f;
  --footer-phone-color: #606060;

  --breadcrumbs-color: #a7a7a7;
  --contacts-phone-color: #606060;

  --basket-button-color: #be907e;
  --basket-autor-color: #a3a3a3;
  --basket-cost-color: #343434;
}
