.basket__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.basket__item {
  display: grid;
  grid-template-columns: auto, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
}

.basket__img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 80px;
  height: 80px;
}

.basket__autor {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 12px;
  line-height: 15px;
  color: var(--basket-autor-color);
}

.basket__book-name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 14px;
  line-height: 17px;
  color: var(--title-color);
}

.basket__input {
  width: 25px;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.basket_input-container {
  grid-column: 2 / 3;
  grid-row: 3/ 4;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket__button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid var(--input-button-color);
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    content: "-";
    position: absolute;
    top: -3px;
    left: 8px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--input-button-color);
  }

  &&--plus::before {
    content: "+";
    top: 0;
    left: 6px;
  }

  &&--minus::before {
    content: "-";
  }
}

/* .basket__cost {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--basket-cost-color);
} */
