{% extends "./template/layout.twig" %}

{% block title %}Bookville - О нас{% endblock %}

{% block page %}
<div class="page__centerer">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item breadcrumbs__item--arrow"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">О нас</a></li>
  </ul>

  <h1 class="page__title-text page__title-text--color">О нас</h1>
  <section class="about">
    <p class="about__text about__text--first-letter">
      A Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    </p>
    <p class="about__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
    <p class="about__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
    <img class="about__photo" src="../../img/about-woman-m@1x.jpg" alt="Фото девушки из команды магазина." width="280" height="280">
    <p class="about__text about__text--center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor
    </p>

    <img class="about__photo" src="../../img/about-team-m@1x.jpg" alt="Фото команды магазина." width="280" height="170">

  </section>




</div>

{% endblock %}
