{% extends "./template/layout.twig" %}

{% block title %}Bookville - Контакты{% endblock %}

{% block page %}
<div class="page__centerer">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item breadcrumbs__item--arrow"><a class="breadcrumbs__link" href="index.html">Главная</a></li>
    <li class="breadcrumbs__item breadcrumbs__item--arrow"><a class="breadcrumbs__link" href="#">Книги</a></li>
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Для уютного вечера</a></li>
  </ul>

  <h1 class="page__title-text page__title-text--color">Контакты</h1>
  <section class="contacts">



  </section>

</div>

{% endblock %}
