{% extends "./template/layout.twig" %}

{% block page %}

    <h1 class="page__hidden">Bookville - интернет магазин хороших книг</h1>
    <section class="slider">
      <h2 class="page__hidden">Каталог</h2>
      <button class="slider-button button-left" type="button">
          <span class="visually-hidden">Предыдущая карточка.</span>
      </button>
      <img src="" alt="" class="slider__image">
      <a href="" class="slider__link"></a>
      <button class="slider-button button-right" type="button">
          <span class="visually-hidden">Следующая карточка.</span>
      </button>
    </section>
    <section class="advantages">
      <h2 class="page__hidden">Наши преимущества</h2>
      <ol class="advantages__list">
        <li class="advantages__item">Консультация книжного сомелье</li>
        <li class="advantages__item">Доставка 1-2 дня</li>
        <li class="advantages__item">Уникальные подборки книг</li>
        <li class="advantages__item">Эстетическая упаковка</li>
      </ol>
    </section>

{% endblock %}

